###############################################################
# @file apps/project/Kconfig
# @author Lachlan Smith - s4482220
# @date 08032021
# @brief Project
###############################################################

rsource "drivers/Kconfig"

source "Kconfig.zephyr"