



&i2c1 { /* feather I2C1 */
    compatible = "nordic,nrf-twim";  // this makes the bus an I2C bus
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    sda-pin = <33>;
    scl-pin = <34>;

    crickit: crickit@49 {
        compatible = "adafruit,crickit";
        reg = <0x49>;
        label = "CRICKIT";
        gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
    };
};

