###############################################################
# @file app/relay/Kconfig
# @author Lachlan Smith - s4482220
# @date 08032021
# @brief Project
###############################################################

source "Kconfig.zephyr"