/ {
    pwr_tim: pwr-tim-ctrl {
		compatible = "power-timer";
		gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
	};

    aliases {
		pwr = &pwr_tim;
	};
};

&uart1 { /* ESP32 */
    current-speed = <115200>;

    wifi: wifi {
        compatible = "espressif,esp";
        label = "WIFI_0";
        status = "okay";
    };
};

&i2c0 { /* feather I2C0 */
    compatible = "nordic,nrf-twim";  // this makes the bus an I2C bus
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    sda-pin = <26>;
    scl-pin = <27>;

    crickit: crickit@49 {
        compatible = "adafruit,crickit";
        reg = <0x49>;
        label = "CRICKIT";
    };
};